Source: cockpit-docker
Section: admin
Priority: optional
Maintainer: Yash Jawale <yash25.j@gmail.com>
Build-Depends: debhelper-compat (= 13), gettext
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/yashjawale/cockpit-docker

Package: cockpit-docker
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         cockpit-bridge,
Description: Cockpit module for managing Docker containers
 A simple Cockpit module for managing Docker containers and images: start,
 stop, remove and inspect containers, run and search images, and manage
 docker-compose stacks.
